@model List<Pizza>

@{
}

<div>
    @if (Model.Count < 1)
    {
        <h1>Non ci sono pizze nel database</h1>    
    }
    else{
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>Descrizione</th>
            <th>Foto</th>
            <th>Prezzo</th>
        </tr>
        </thead>

        <tbody>
        @foreach (Pizza pizza in Model)
        {
            <tr>
                <td>
                    <a asp-area="" asp-controller="Pizza" asp-route-id="@pizza.Id" asp-action="ShowById">@pizza.Name</a>
                </td>
                <td>@pizza.Description</td>
                <td>
                    <img src="" alt="@pizza.Image"/>
                </td>
                <td>@pizza.Price €</td>
            </tr>
        }
        </tbody>
    </table>
    }
    
    <a class="btn btn-primary" asp-area="" asp-controller="Pizza" asp-action="Create">+</a>
</div>